@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,600,600i,700,700i,800,900&display=swap&subset=latin-ext");
@import url("https://fonts.googleapis.com/css?family=Noto+Serif&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100%;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.row:before,
.row:after {
  content: " ";
  display: table;
  clear: both;
}

[class*="col-"] {
  float: left;
  padding: 20px;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

/*column width*/
.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}

.col-offset-0 {
  margin-left: 0;
}

.col-offset-1 {
  margin-left: 8.33%;
}

.col-offset-2 {
  margin-left: 16.66%;
}

.col-offset-3 {
  margin-left: 25%;
}

.col-offset-4 {
  margin-left: 33.33%;
}

.col-offset-5 {
  margin-left: 41.66%;
}

.col-offset-6 {
  margin-left: 50%;
}

.col-offset-7 {
  margin-left: 58.33%;
}

.col-offset-8 {
  margin-left: 66.66%;
}

.col-offset-9 {
  margin-left: 75%;
}

.col-offset-10 {
  margin-left: 83.33%;
}

.col-offset-11 {
  margin-left: 91.66%;
}

header {
  height: 75vh;
  background-image: url("../images/jumbotron.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

header figure {
  margin-top: 22px;
  position: fixed;
  top: 18px;
  left: 20%;
}

header figure img {
  max-width: 100%;
  height: auto;
}

header nav {
  color: white;
  position: fixed;
  top: 18px;
  left: 50%;
}

header nav ul {
  list-style-type: none;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

header nav ul li {
  padding: 25px 25px;
  letter-spacing: 0.8px;
  cursor: pointer;
  -webkit-transition: .5s;
  transition: .5s;
}

header nav ul li a {
  display: block;
}

header nav ul li:hover {
  color: #fed136;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

header .headline {
  text-align: center;
  color: white;
  margin-top: 208px;
}

header .headline h1 {
  font-weight: 300;
  font-size: 40px;
  font-family: "Noto Serif", serif;
  font-style: italic;
}

header .headline h2 {
  text-transform: uppercase;
  font-size: 75px;
  margin-top: 20px;
}

header .headline button {
  background-color: #fed136;
  color: white;
  border: none;
  width: 240px;
  height: 62px;
  border-radius: 3px;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.6px;
  outline: none;
  margin-top: 40px;
  -webkit-transition: .4s;
  transition: .4s;
  cursor: pointer;
}

header .headline button:hover {
  background-color: #f1bd09;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.services {
  margin-bottom: 80px;
}

.services .title_services {
  text-align: center;
  margin-top: 80px;
}

.services .title_services h2 {
  text-transform: uppercase;
  font-size: 40px;
  font-weight: bold;
}

.services .title_services h4 {
  font-family: "Noto Serif", serif;
  color: #777777;
  margin-top: 15px;
}

.services .box_services {
  margin-top: 55px;
  -webkit-transition: .6s;
  transition: .6s;
  padding: 8px;
}

.services .box_services > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fed136;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 3px solid #fed136;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  cursor: pointer;
}

.services .box_services > h3 {
  text-align: center;
  font-size: 18px;
  font-weight: 800;
  margin-top: 18px;
}

.services .box_services > p {
  font-family: "Roboto Slab", serif;
  text-align: center;
  color: #777777;
  margin-top: 10px;
  line-height: 1.8;
}

.services .box_services:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 5px 5px 35px 5px #191A1C;
          box-shadow: 5px 5px 35px 5px #191A1C;
}

.portfolio {
  padding-top: 120px;
  background-color: #f7f7f7;
  padding-bottom: 70px;
}

.portfolio .portfolio_title {
  text-align: center;
}

.portfolio .portfolio_title h2 {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: bold;
}

.portfolio .portfolio_title h4 {
  font-family: "Noto Serif", serif;
  color: #777777;
  margin-top: 15px;
}

.portfolio .portfolio_box {
  margin-top: 60px;
  text-align: center;
  background-color: white;
  padding-bottom: 22px;
}

.portfolio .portfolio_box > figure {
  margin-bottom: 18px;
  overflow: hidden;
}

.portfolio .portfolio_box > figure > img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 300px;
  cursor: pointer;
  -webkit-transition: .5s;
  transition: .5s;
}

.portfolio .portfolio_box > figure > img:hover {
  -webkit-transform: rotate(15deg) scale(1.3);
          transform: rotate(15deg) scale(1.3);
}

.portfolio .portfolio_box > h3 {
  font-size: 18px;
}

.portfolio .portfolio_box > p {
  font-family: "Noto Serif", serif;
  color: #777777;
  font-style: italic;
}

.about {
  margin-top: 120px;
  position: relative;
}

.about .vertical_line {
  position: absolute;
  width: 6px;
  height: 90vh;
  background-color: #e3e3e3;
  left: calc(50% - 3px);
  z-index: -1;
  top: 340px;
}

.about .about_title {
  text-align: center;
  margin-bottom: 70px;
}

.about .about_title h2 {
  text-transform: uppercase;
  font-size: 40px;
}

.about .about_title h4 {
  font-family: "Noto Serif", serif;
  color: #777777;
  margin-top: 15px;
}

.about .about_description {
  text-align: right;
  -webkit-transform: translateX(70px);
          transform: translateX(70px);
}

.about .about_description h2 {
  font-size: 18px;
  text-transform: uppercase;
}

.about .about_description h3 {
  font-size: 18px;
}

.about .about_description p {
  font-family: "Roboto Slab", serif;
  margin-top: 8px;
  line-height: 1.3;
  color: #777;
}

.about .about_description.right {
  text-align: left;
  -webkit-transform: translateX(-70px);
          transform: translateX(-70px);
}

.about .about_image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about .about_image figure {
  width: 170px;
  height: 170px;
}

.about .about_image figure img {
  max-width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 6px solid #e3e3e3;
}

.about .yellow_circle {
  width: 170px;
  height: 170px;
  background-color: #fed136;
  border-radius: 50%;
  border: 6px solid #e3e3e3;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  position: relative;
  left: 50%;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
}

.team {
  margin-top: 80px;
  background-color: #f7f7f7;
  padding-bottom: 50px;
}

.team .team_title {
  text-align: center;
  margin-top: 100px;
}

.team .team_title h2 {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: bold;
}

.team .team_title h4 {
  font-family: "Noto Serif", serif;
  color: #777777;
  margin-top: 15px;
}

.team .team_photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 60px;
}

.team .team_photo figure {
  width: 220px;
  height: 220px;
}

.team .team_photo figure img {
  max-width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

.team .team_photo h4 {
  margin-top: 15px;
  font-weight: 800;
}

.team .team_photo p {
  color: #777777;
  font-weight: 600;
}

.team .team_social_media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 15px;
}

.team .team_social_media :nth-of-type(2) {
  margin-left: 10px;
  margin-right: 10px;
}

.team .team_social_media a {
  width: 36px;
  height: 36px;
  border: 3px solid black;
  display: block;
  color: black;
  border-radius: 50%;
  text-align: center;
  line-height: 36px;
  -webkit-transition: .3s;
  transition: .3s;
}

.team .team_social_media a span {
  -webkit-transition: .2s;
  transition: .2s;
}

.team .thomson a:nth-of-type(1):hover {
  background-color: #00aced;
  color: white;
  border: none;
}

.team .thomson a:nth-of-type(2):hover {
  background-color: #3b5998;
  color: white;
  border: none;
}

.team .thomson a:nth-of-type(3):hover {
  background-color: #cb2028;
  color: white;
  border: none;
}

.team .massimo a:nth-of-type(1):hover {
  background-color: #00aced;
  color: white;
  border: none;
}

.team .massimo a:nth-of-type(2):hover {
  background-color: #3b5998;
  color: white;
  border: none;
}

.team .massimo a:nth-of-type(3):hover {
  background-color: #da2713;
  color: white;
  border: none;
}

.team .mason a:nth-of-type(1):hover {
  background-color: #3b5998;
  color: white;
  border: none;
}

.team .mason a:nth-of-type(2):hover {
  background-color: #cb2028;
  color: white;
  border: none;
}

.team .team_content {
  margin: 30px auto;
  width: 70%;
  text-align: center;
  color: #777777;
  font-size: 14px;
}

.logos {
  margin: 30px 0;
}

.logos figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.logos figure img {
  max-width: 100%;
  height: auto;
}

.contact {
  background-color: black;
  background-image: url("../images/contact-background.png");
  background-repeat: no-repeat;
  background-position: 1000px 185px;
  padding-bottom: 90px;
}

.contact .contact_title {
  color: white;
  text-align: center;
  margin-bottom: 60px;
}

.contact .contact_title h2 {
  margin-top: 130px;
  font-size: 40px;
  text-transform: uppercase;
}

.contact .contact_title h4 {
  font-family: "Noto Serif", serif;
  color: #777777;
  margin-top: 15px;
}

.contact .contact_form_left form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact .contact_form_left form input {
  border-radius: 6px;
  -ms-flex-preferred-size: 50px;
      flex-basis: 50px;
  font-weight: 700;
  margin-bottom: 42px;
  font-size: 12px;
  padding-left: 15px;
  border: 1px solid #e3e3e3;
  outline: none;
}

.contact .contact_form_right form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact .contact_form_right form textarea {
  border-radius: 6px;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  padding-left: 15px;
  padding-top: 10px;
  border: 1px solid #e3e3e3;
  outline: none;
}

.contact .contact_form_right form ::-webkit-input-placeholder {
  font-size: 14px;
  color: #777777;
  font-weight: 800;
}

.contact .contact_form_right form :-ms-input-placeholder {
  font-size: 14px;
  color: #777777;
  font-weight: 800;
}

.contact .contact_form_right form ::-ms-input-placeholder {
  font-size: 14px;
  color: #777777;
  font-weight: 800;
}

.contact .contact_form_right form ::placeholder {
  font-size: 14px;
  color: #777777;
  font-weight: 800;
}

.contact .contact_button {
  text-align: center;
}

.contact .contact_button button {
  text-align: center;
  background-color: #fed136;
  color: white;
  border: none;
  width: 240px;
  height: 62px;
  border-radius: 3px;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.6px;
  outline: none;
  margin-top: 5px;
  -webkit-transition: .3s;
  transition: .3s;
  cursor: pointer;
}

.contact .contact_button button:hover {
  background-color: #f1bd09;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

footer {
  padding-bottom: 15px;
}

footer .copyright {
  font-size: 14px;
  font-weight: 600;
}

footer .footer_social_media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0 65px;
}

footer .footer_social_media a {
  width: 36px;
  height: 36px;
  background-color: black;
  display: block;
  color: white;
  border-radius: 50%;
  text-align: center;
  line-height: 36px;
  -webkit-transition: .3s;
  transition: .3s;
}

footer .footer_social_media a:nth-of-type(1):hover {
  background-color: #00aced;
}

footer .footer_social_media a:nth-of-type(2):hover {
  background-color: #3b5998;
}

footer .footer_social_media a:nth-of-type(3):hover {
  background-color: #cb2028;
}

footer .footer_social_media a:nth-of-type(4):hover {
  background-color: #da2713;
}
/*# sourceMappingURL=style.css.map */