.team {
    margin-top: 80px;
    background-color: rgb(247, 247, 247);
    padding-bottom: 50px;

    .team_title {
        text-align: center;
        margin-top: 100px;

        h2 {
            font-size: 40px;
            text-transform: uppercase;
            font-weight: bold;
        }

        h4 {
            font-family: $font-Noto;
            color: $color-base-gray;
            margin-top: 15px;
        }
    }

    .team_photo {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 60px;

        figure {
            width: 220px;
            height: 220px;

            img {
                max-width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 50%;
            }
        }

        h4 {
            margin-top: 15px;
            font-weight: 800;
        }

        p {
            color: $color-base-gray;
            font-weight: 600;
        }
    }

    .team_social_media {
        display: flex;
        justify-content: center;
        margin-top: 15px;

        :nth-of-type(2) {
            margin-left: 10px;
            margin-right: 10px;
        }

        a {
            width: 36px;
            height: 36px;
            border: 3px solid $color-basic-black;
            display: block;
            color: $color-basic-black;
            border-radius: 50%;
            text-align: center;
            line-height: 36px;
            transition: .3s;

            span {
                transition: .2s;
            }
        }
    }

    .thomson a:nth-of-type(1):hover {
        background-color: $color-twitter;
        color: $color-base-white;
        border: none;
    }

    .thomson a:nth-of-type(2):hover {
        background-color: $color-facebook;
        color: $color-base-white;
        border: none;
    }

    .thomson a:nth-of-type(3):hover {
        background-color: $color-pinterest;
        color: $color-base-white;
        border: none;
    }

    .massimo a:nth-of-type(1):hover {
        background-color: $color-twitter;
        color: $color-base-white;
        border: none;
    }

    .massimo a:nth-of-type(2):hover {
        background-color: $color-facebook;
        color: $color-base-white;
        border: none;
    }

    .massimo a:nth-of-type(3):hover {
        background-color: $color-google;
        color: $color-base-white;
        border: none;
    }

    .mason a:nth-of-type(1):hover {
        background-color: $color-facebook;
        color: $color-base-white;
        border: none;
    }

    .mason a:nth-of-type(2):hover {
        background-color: $color-pinterest;
        color: $color-base-white;
        border: none;
    }

    .team_content {
        margin: 30px auto;
        width: 70%;
        text-align: center;
        color: $color-base-gray;
        font-size: 14px;
    }
}