// colors

$color-base-yellow:rgb(254, 209, 54);
$color-base-white:rgb(255, 255, 255);
$color-base-gray:rgb(119, 119, 119);
$color-twitter:rgb(0, 172, 237);
$color-facebook:rgb(59, 89, 152);
$color-pinterest:rgb(203, 32, 40);
$color-google:rgb(218, 39, 19);
$color-btn-hover:#f1bd09;
$color-border-gray:rgb(227, 227, 227);
$color-basic-black:rgb(0, 0, 0);

// fonts

$font-roboto:'Roboto Slab',
serif;

$font-Noto:'Noto Serif',
serif;